.align-right {
  text-align: right;
}

// .select-competency-container
.css-26l3qy-menu .css-4ljt47-MenuList {
  max-height: 250px;
}
.bordered-box {
  border: 1px solid #d2d6da;
  border-radius: 8px;
}

#layout-wrapper .main-content {
  overflow: unset;
}

#layout-wrapper .main-content::before {
  z-index: -1;
  content: "";
  background-image: url(../../assets/images/main_logo_bg.png);
  background-size: 50%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;

  background-repeat: no-repeat;
  background-position: 110vh 29vh;
  background-origin: border-box;
  background-attachment: fixed;
}
