.align-right {
  text-align: right;
}

// .select-competency-container
.css-26l3qy-menu .css-4ljt47-MenuList {
  max-height: 250px;
}
.bordered-box {
  border: 1px solid #d2d6da;
  border-radius: 8px;
}

#layout-wrapper .main-content {
  overflow: unset;
}